@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 99%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Custom styles for React Flow components */

.react-flow__controls button {
  @apply bg-transparent p-2 hover:bg-slate-100 transition-colors w-8 h-8 border-0 outline-none;
}

.react-flow__controls-button svg {
    @apply w-4 h-4 text-slate-700;
}
.react-flow__attribution {
  display: none !important;
}

.react-flow__minimap {
  @apply bg-white rounded-md shadow-sm;
  border: none;
}

/* Style the mask that shows the current viewport */
.react-flow__minimap-mask {
  @apply bg-slate-200 bg-opacity-40;
  border: none;
  border-radius: 4px;
  fill-opacity: 0.1;
}

/* You can even add a transition for a smoother feel */
.react-flow__minimap-node {
    transition: all 0.1s ease-in-out;
}
